.idea/
out
*.iml
target/
/home/patryk/Pulpit/Drony/jjdz7-drony/App/src/main/resources/Activties.json
/home/patryk/Pulpit/Drony/jjdz7-drony/App/src/main/resources/Plans.json
/home/patryk/Pulpit/Drony/jjdz7-drony/App/src/main/resources/Users.json