canvas{
    position: fixed;
    top: 0;
    background-color: #3c3c3c;
    z-index: -500 !important;
}

.container{
    z-index: 100;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 1rem;
}

.banner{
    display: block;
    height: 7rem;
    color: #FFf;
    font-size: 4rem;
    text-align: center;
    background-color: rgba(156, 159, 255, 0.3);
    margin: 0;
    box-sizing: border-box;
    font-style: italic;
}

.btn-group{
    display: flex;
}

.errors {
	border: solid 5px red !important;
}

.type-error{
    color: crimson;
    font-weight: 800;
}

.name{
    color: black;
}